.message {
    margin: 0% auto;
    width: 40%;
    background-color:seashell;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: solid 3px maroon;
    vertical-align: middle;
    color: rgb(6, 4, 133);  
}